body, html {
  height: 100%;
}

.bg { 
  
  background-image: url("assets\images\concrete_seamless.png");
  height: 100%; 
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.col-sm-3 {
    padding-bottom: 0px;
}

.row-1 {
    background: #fff;
    margin: 0 0 50px;
    z-index: 99;
    color: #fff;
    overflow: auto;
    border-bottom: 1px solid #ccc;
    position: fixed;
    
}

.navlinks a {
    color: #999;
    text-decoration: none;
    margin-left: 15px;
    display: inline-block;
    border-left: 1px solid #c8c8c8;
    padding-left: 15px;
    padding-top: 3px;
}